<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	<div th:insert="topbottom/header :: header"></div>
	<div class="container my-5">
		<h3>Sign Up for the Library</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/signup}" th:object="${patron}"
						method="post">
						<div class="row">

							<div class="form-group col-md-8">
								<label for="First Name" class="col-form-label">First Name</label> 
								<input type="text" th:field="*{fname}" class="form-control" id="fname" placeholder="First Name" /> 
								<span th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="Last Name" class="col-form-label">Last Name</label> 
								<input type="text" th:field="*{lname}" class="form-control" id="lname" placeholder="Last Name" /> 
								<span th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"></span>
							</div>
							
							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value=" Submit ">
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="topbottom/footer :: footer"></div>
</body>

</html>
</form> 